body {
    
    background-image: url("https://i.pinimg.com/originals/ca/41/93/ca419365d8f738b1bf58b97ff6df39a1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .choice {
    border: 1px solid blueviolet;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: powderblue;
    color: blue;
    
  }
  
  h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: darkmagenta;
    }
  
  #empty {
    height: 300px;
    
  }

.jumbotron {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hb-friends-couch-1-1529331692.jpg");
  }
#time {
  color: whitesmoke;
}

#game {
  color: whitesmoke
}

